@tailwind base;
@tailwind components;
@tailwind utilities;

.monoton-regular {
  font-family: "Monoton", serif;
  font-weight: 400;
  font-style: normal;
}
.rubik-death {
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
